.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 20px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    max-width: 65%;
    align-items: flex-start;
  }
}
