@import url(../vendor/normalize.css);

@import url(../blocks/root/root.css);
@import url(../blocks/root/__list-reset/root__list-reset.css);
@import url(../blocks/root/__container/root__container.css);

@import url(../blocks/link/link.css);

@import url(../blocks/title/title.css);
@import url(../blocks/subtitle/subtitle.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__user-link/header__user-link.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__image/intro__image.css);
@import url(../blocks/dreams/dreams.css);
@import url(../blocks/dream/dream.css);
@import url(../blocks/dream/__link/dream__link.css);
@import url(../blocks/dream/__image/dream__image.css);
@import url(../blocks/dream/__title/dream__title.css);
@import url(../blocks/dream/__text/dream__text.css);
@import url(../blocks/dream/__paragraph/dream__paragraph.css);
@import url(../blocks/people/people.css);
@import url(../blocks/people/__title/people__title.css);
@import url(../blocks/people/__subtitle/people__subtitle.css);
@import url(../blocks/people/__quotes/people__quotes.css);
@import url(../blocks/people/__quote/people__quote.css);
@import url(../blocks/people/__quote-caption/people__quote-caption.css);
@import url(../blocks/people/__quote-text/people__quote-text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
