.intro__image {
  object-fit: cover;
  object-position: center;
  grid-row: 1/-1;
  width: 62%;
  height: 79%;
  align-self: center;
  /*   justify-self: center; */
  transition: object-position 1s ease;
  margin-top: 40px;
  margin-left: 145px;
}

.intro__image:hover {
  object-position: top;
}

@media screen and (max-width: 1023px) {
  .intro__image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    margin: 0;
    border-radius: 20%;
    border: ridge 15px rgb(180, 177, 177);
    box-sizing: border-box;
  }
}
